.wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    justify-content: space-between;
    width: 100%;
}

.status {
    h3 {
        font-size: 2rem;
        font-weight: 800;
    }

    p {
        font-size: 1.4rem;
        margin-top: 6px;
    }
}

.icon {
    height: 3.2rem;
    width: 3.2rem;
}
